//Background
$wrapp-Bg: #f5f5f5;
$header-upBG: #18154b;
$header-downBG: #ffff;
$White_btn: #ffff;

//billboard
$dotted_passive: rgba(56, 176, 193, 0.4);
$dotted_active: #38b0c1;

//Categories
$categories_gradient: linear-gradient(86.02deg, #0d748b 11.79%, #1a0b73 90.28%);

//Advantage
$advantage_gradient_bg: radial-gradient(
  98.19% 130.91% at -8.58% -1.44%,
  #42e8e0 0%,
  #40ddda 1.57%,
  #3aaec0 9.21%,
  #3484a9 17.3%,
  #2f6195 25.73%,
  #2b4486 34.58%,
  #282e79 44%,
  #180564 82.26%
);

$circle_bg: #25307b;

//Bestsellers
$card_bg: #ffff;
$dot_bg: #38b0c1;
$price_text: #303239;
$sale_price: #9b9b9b;
$dot__items: rgba(56, 176, 193, 0.4);
$dot__active: #38b0c1;

//Company
$rowtop_text: #303239;
$shell_gray: #f0f5fb;
$shell_light: #ffff;
//text
$tx_hover: rgba(48, 50, 57, 0.7);

$tx-white: #ffff;
$tx-black: rgba(48, 50, 57, 1);
$tx-purple: #18154b;

$tx-items: #303239;

$tx-header_up: #f0f5fb;
$tx-header_down: rgba(48, 50, 57, 1);

//color

$h2_color_wt: #ffff;
$p_color_ht: #ffff;
