//Background
$wrapp-Bg: #F5F5F5;
$header-upBG: #18154B; 
$header-downBG: #ffff;

//text 
$tx_hover: rgba(48, 50, 57, 0.7);

$tx-white: #ffff;
$tx-black: rgba(48, 50, 57, 1);
$tx-header_up: #F0F5FB;
$tx-header_down: rgba(48, 50, 57, 1);


//color 

