//main -----------------------------------

.main {
  flex: 1 1 auto;
  // .main__billboard

  &__billboard {
    margin: 20px 0px;
    @include display_flex(flex, space-between, center, 1.25rem);
    @include wh(100%, 27.5rem);
  }
}

//billboard -----------------------------------

.board {
  // .board__right

  &__right {
    @include wh(48.75rem, 27.5rem);
    background: linear-gradient(73.56deg, #0d748b -10.13%, #1a0b73 75.49%),
      #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
    border-radius: 10px;
    z-index: 0;
    // overflow: hidden;
  }

  // .board__text

  &__text {
    position: relative;
    z-index: 2;
    .board__header {
      padding: 5rem 0rem 1.25rem 3.5625rem;
      h2 {
        @include size_weight(2.25rem, 800);
        @include wh(21.3125rem, 9.75rem);
        color: $tx-white;
        line-height: 3.25rem;
        text-transform: uppercase;
        z-index: 10;
        position: relative;
      }
    }
    p {
      @include size_weight(1.125rem, 600);
      color: $tx-white;
      z-index: 10;
      padding: 0px 0px 1.875rem 57px;
    }
    button {
      @include Btn_White;
      margin: 0px 0px 79px 57px;
      z-index: 10;
      span {
        color: $tx-purple;
        @include wh(23.75rem, 27.5rem);
        @include size_weight(0.9375rem, 700);
        line-height: 1.25rem;
      }
    }
  }

  // .board__img

  &__img {
    position: relative;
    z-index: 2;
    img {
      object-fit: cover;
      padding-right: 2.8125rem;
    }
  }

  //.board__dotted

  &__dotted {
    @include display_flex(flex, none, center, 10px);
    position: relative;
    top: 60px;
    left: 205px;
    color: black;
    z-index: 10;
    p {
      @include wh(10px, 10px);
      background-color: $dotted_passive;
      border-radius: 50%;
    }
    p:first-child {
      @include wh(12px, 12px);
      background-color: $dotted_active;
    }
    p:hover {
      @include wh(12px, 12px);
    }
  }

  // .board__left

  &__left {
    flex: 1 1 auto;
    img {
      @include wh(100%, 440px);
    }
  }
}

//Items
.items {
  @include display_flex(flex, space-between, center, none);
}

.board__bg {
  // this img is backgrounded with
  background: url("/img/bg_board_r.png") no-repeat;
  position: relative;
  bottom: 27.5em;
  left: 0;
  @include wh(37rem, 27.5rem);
  z-index: 0;
  opacity: 0.8;
}

//categories-----------------------------------

.categories {
  // .categories__header

  &__header {
    @include size_weight(36px, 800);

    text-transform: uppercase;
    line-height: 49px;
    color: $header-upBG;
    padding: 40px 0px;
  }

  // .categories__box

  &__box {
    @include display_grid(
      grid,
      10.625rem 10.625rem / 23.75rem 23.75rem 23.75rem,
      1.25rem
    );
    .asic {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .gpu {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .videocard {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    .accessories {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .pc {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .spare_parts {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }
}
.box {
  // .box__items
  &__items {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    @include wh(380px, 170px);
    border-radius: 0.625rem;
    background-color: $header-downBG;

    .circle {
      @include wh(226px, 226px);
      background: $categories_gradient;
      border-radius: 50%;
      position: relative;
      flex: 0;
      bottom: 30px;
      right: 90px;
    }
    .blog {
      position: relative;
      bottom: 225px;
      left: 0;

      @include display_flex(flex, none, center, 20px);
      img {
        object-fit: cover;
        padding: 20px 0px 20px 35px;
      }
      .text {
        p {
          @include wh(153px, 70px);
          @include size_weight(18px, 600);
          color: $tx-items;
          position: relative;
          top: -10px;
          left: 0;
        }
        .btn__catalog {
          position: relative;
          top: 1.125rem;
          right: 0px;
          @include Btn_gradient_catalog;
          @include display_flex(flex, none, center, 0.625rem);
          .after__arrow {
            @include Btn_arrow;
          }
          .after__arrow::after {
            content: "";
            @include Btn_arrow_rotate;
          }
        }
      }
    }
  }
}

//advantage-----------------------------------

.advantage {
  z-index: 100;
  margin-top: 5rem;
  background: $advantage_gradient_bg;
  box-shadow: 0rem 0.25rem 1.25rem rgba(0, 7, 94, 0.1);
  border-radius: 0.625rem;

  // .advantage__container

  &__container {
    @include display_grid(grid, 1fr / 30rem 1fr, none);
    @include wh(100%, 23.375rem);
    overflow: hidden;
    background: -moz-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 48%,
        rgba(255, 255, 255, 0.086) 50%,
        rgba(255, 255, 255, 0) 52%
      ),
      -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 48%, rgba(
              255,
              255,
              255,
              0.1
            )
            50%, rgba(0, 0, 0, 0) 52%);
    background: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 48%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0) 52%
      ),
      -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2)
            50%, rgba(255, 255, 255, 0) 52%);
    background: -ms-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 48%,
        rgba(255, 255, 255, 0.098) 50%,
        rgba(255, 255, 255, 0) 52%
      ),
      -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0) 48%, rgba(
              255,
              255,
              255,
              0.107
            )
            50%, rgba(255, 255, 255, 0) 52%);
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 48%,
        rgba(255, 255, 255, 0.126) 50%,
        rgba(255, 255, 255, 0) 52%
      ),
      linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 48%,
        rgba(255, 255, 255, 0.101) 30%,
        rgba(255, 255, 255, 0) 52%
      );
    background-size: 1em 1em;
  }
}

// .advantage__container

.container {
  // .container__left

  &__left {
    .advantage__header {
      @include wh(21.3125rem, 6.125rem);
      h2 {
        @include size_weight(2.25rem, 800);
        line-height: 3.0625rem;
        text-transform: uppercase;
        color: $h2_color_wt;
      }
    }
    img {
      position: relative;
      bottom: 200px;
    }
  }
  &__left,
  &__right {
    padding: 3.125rem;
  }
  // .container__right

  &__right {
    @include display_grid(grid, 1fr / 1fr 1fr, 55px);
    .right__item {
      .img__circle {
        @include wh(60px, 60px);
        @include display_flex(flex, center, center, none);
        background: $circle_bg;
        box-shadow: 0px 4px 40px rgba(0, 6, 84, 0.9);
        border-radius: 50%;
      }
      p {
        @include size_weight(16px, 600);
        line-height: 22px;
        color: $p_color_ht;
      }
    }
    .left_top {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .center_top {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .right_top {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    .left_bottom {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .center_bottom {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .right_bottom {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }
}

//bestsellers-----------------------------------

.bestsellers {
  // .bestsellers__header

  &__header {
    h2 {
      @include size_weight(36px, 800);
      line-height: 49px;
      text-transform: uppercase;
      margin-top: 5rem;
      color: $tx-purple;
    }
  }

  // .bestsellers__container

  &__container {
    margin-top: 2.5rem;
    @include display_flex(flex, none, center, 1.25rem);
  }
}
.card {
  @include wh(220px, 360px);
  background: $card_bg;
  box-shadow: 0rem 0.25rem 1.25rem rgba(0, 7, 94, 0.1);
  border-radius: 0.625rem;
  flex: 1 1 auto;

  // .card__icon

  &__icon {
    padding: 0.9375rem 0.9375rem 0rem 0.9375rem;
    @include display_flex(flex, space-between, center, none);
    img {
    }
    .hits_bg {
    }
  }
  .product {
    @include display_flex(flex, center, center, none);
    img {
      @include wh(160px, 160px);
    }
  }
  .info {
    p {
      @include size_weight(0.875rem, 600);
      line-height: 1.1875rem;
      padding: 10px 0px 0px 20px;
    }
    .dot::before {
      content: "";
      display: inline-block;
      @include wh(6px, 6px);
      background-color: $dot_bg;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
    .dot_con {
      padding: 10px 0px 0px 20px;
      @include display_flex(flex, none, center, none);
      .dot {
        @include size_weight(0.75rem, 600);
        line-height: 1rem;
      }
    }
  }
  .sale {
    @include display_flex(flex, space-between, center, none);
    padding: 0rem 1.25rem 1.125rem 1.25rem;
    span {
      @include size_weight(0.875rem, 700);
      line-height: 1.1875rem;
      color: $price_text;
    }
    .sale_price {
      @include size_weight(0.625rem, 600);
      line-height: 0.875rem;
      color: $sale_price;
      text-decoration: line-through;
    }
  }
  .btn {
    position: relative;
    bottom: 10px;
    @include display_flex(flex, center, center, none);
  }
  button {
    @include Btn_gradient;
    @include size_weight(0.8125rem, 700);
    line-height: 1.125rem;
  }
}
.dot__nav {
  @include display_flex(flex, center, center, 10px);
  margin-top: 1.875rem;
  .dot__item {
    @include wh(10px, 10px);
    background-color: $dot__items;
    border-radius: 50%;
  }
  .dot__active {
    background-color: $dot__active;
    @include wh(12px, 12px);
  }
}

//company-----------------------------------

.company {
  margin-top: 5rem;
  // .company__container

  &__container {
    @include display_flex(flex, none, none, 5rem);
    flex-direction: column;
  }
}
.rowtop {
  display: grid;
  grid-template: 3.125rem 10.3125rem / 1fr 28.75rem;
  column-gap: 4.6875rem;
  row-gap: 2.5rem;
  // .row__header

  &__header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    h2 {
      @include size_weight(36px, 800);
      line-height: 49px;
      text-transform: uppercase;
      color: $tx-purple;
    }
  }
  // .rowtop__text
  &__text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    p {
      @include size_weight(16px, 400);
      line-height: 145%;
      color: $rowtop_text;
      @include wh(625px, none);
    }
  }

  // .rowtop__logo
  &__logo {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    img {
      @include wh_img(460px, 270px);
    }
  }
}
.rowbottom {
  @include wh(inherit, 218px);
  @include display_flex(flex, none, none, none);
  // .rowbottom__item

  &__item {
    flex: 1 1 auto;
    .img-space {
      @include display_flex(flex, center, center, none);
      @include wh(80px, 80px);
      background-color: $shell_light;
      border-radius: 50%;

      .shell {
        @include display_flex(flex, center, center, none);
        @include wh(60px, 60px);
        background-color: $shell_gray;
        border-radius: 50%;
        .itm1,
        .itm3,
        .itm4 {
          @include wh(36px, 36px);
        }
        .itm2 {
          @include wh(38px, 38px);
        }
        .itm5 {
          @include wh(26.63px, 36px);
        }
        .itm6 {
          @include wh(36px, 24.57px);
        }
      }
    }
    .icon__text {
      margin-top: 15px;
      p {
        @include wh(123px, 69px);
        @include size_weight(16px, 400);
        line-height: 145%;
      }
    }
  }
}

//form-----------------------------------
