//main -----------------------------------

.main {
  flex: 1 1 auto;
  // .main__billboard

  &__billboard {
    margin: 20px 0px;
    @include display_flex(flex, space-between, center, 1.25rem);
    @include wh(100%, 27.5rem);
  }
}

//billboard -----------------------------------

.board {
  // .board__right

  &__right {
    flex: 0 1 auto;
    @include wh(48.75rem, 27.5rem);
    background: linear-gradient(73.56deg, #0d748b -10.13%, #1a0b73 75.49%),
      #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
    border-radius: 10px;
    z-index: 0;
    // overflow: hidden;
  }

  // .board__text

  &__text {
    position: relative;
    z-index: 2;
    .board__header {
      padding: 5rem 0rem 1.25rem 3.5625rem;
      h2 {
        @include size_weight(2.25rem, 800);
        @include wh(21.3125rem, 9.75rem);
        color: $tx-white;
        line-height: 3.25rem;
        text-transform: uppercase;
        z-index: 10;
        position: relative;
      }

      @media (max-width: 1199px) {
        padding: 1.25rem 0rem 1.25rem 0.9375rem;
      }
    }
    p {
      @include size_weight(1.125rem, 600);
      color: $tx-white;
      z-index: 10;
      padding: 0px 0px 1.875rem 57px;

      @media (max-width: 1199px) {
        padding: 0px 0px 1.875rem 15px;
      }
    }
    button {
      @include Btn_White;
      margin: 0px 0px 79px 57px;
      z-index: 10;
      span {
        color: $tx-purple;
        @include wh(380px, 440px);
        @include size_weight(15px, 700);
        line-height: 20px;
      }
      @media (max-width: 1199px) {
        margin: 0px 0px 29px 27px;
      }
    }
  }

  // .board__img

  &__img {
    position: relative;
    z-index: 2;
    img {
      object-fit: cover;
      padding-right: 2.8125rem;
    }
  }

  //.board__dotted

  &__dotted {
    @include display_flex(flex, none, center, 10px);
    position: relative;
    top: 60px;
    left: 205px;
    color: black;
    z-index: 10;
    p {
      @include wh(10px, 10px);
      background-color: $dotted_passive;
      border-radius: 50%;
    }
    p:first-child {
      @include wh(12px, 12px);
      background-color: $dotted_active;
    }
    p:hover {
      @include wh(12px, 12px);
    }
  }

  // .board__left

  &__left {
    position: relative;
    z-index: 100;
    flex: 1 1 380px;
    @include wh(380px, 440px);
    background: linear-gradient(0deg, #1a0b73, #1a0b73),
      radial-gradient(
        106.32% 141.75% at -6.32% -2.5%,
        #42e8e0 0%,
        #40ddda 0%,
        #3aaec0 9.21%,
        #3484a9 17.3%,
        #2f6195 25.73%,
        #2b4486 34.58%,
        #282e79 44%,
        #261e71 54.25%,
        #24156c 65.94%,
        #24126a 82.26%
      );
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
    border-radius: 10px;
    .left__container {
      padding: 40px 0px 0px 50px;
    }
    .left__header {
      h3 {
        @include size_weight(28px, 800);
        line-height: 38px;
        text-transform: uppercase;
        color: $tx-white;
        @include wh(231px, 76px);
      }
    }
    .left__text {
      @include display_flex(flex, none, center, 20px);
      span {
        @include size_weight(56px, 700);
        @include wh(145px, 76px);
        line-height: 76px;
        text-transform: uppercase;
        color: $tx-white;
      }
      p {
        @include size_weight(18px, 600);
        @include wh(138px, 46px);
        line-height: 125%;
        color: $tx-white;
      }
    }
    // .ellipse-1,
    // .ellipse-2 {
    //   @include wh(365px, 365px);
    //   background: #3bb9c6;
    //   filter: blur(73px);
    //   z-index: auto;
    //   opacity: 0.6;
    //   display: block;
    //   border-radius: 50%;
    // }
    // .ellipse-1 {
    //   position: absolute;
    //   bottom: 300px;
    //   right: 200px;
    // }
    // .ellipse-2 {
    // }
    .bottom_box {
      padding-top: 20px;
      @include display_flex(flex, flex-start, flex-end, none);
    }
    .left__bitc {
      position: relative;
      right: 35px;
      top: 0px;
    }
    .left_btn {
      .btn__catalog {
        position: relative;
        right: 30px;
        @include Btn_white_catalog;
        @include display_flex(flex, none, center, 0.625rem);
      }
      .btn__catalog::after {
        content: "";
        background: url("/img/Arrow.png") center no-repeat;
        padding: 30px 15px 30px 15px;
      }
    }
  }
}

//Items
.items {
  @include display_flex(flex, space-between, center, none);
}

.board__bg {
  // this img is backgrounded with
  background: url("/img/bg_board_r.png") no-repeat;
  position: relative;
  bottom: 27.5em;
  left: 0;
  @include wh(37rem, 27.5rem);
  z-index: 0;
  opacity: 0.8;
}

//categories-----------------------------------

.categories {
  // .categories__header

  &__header {
    @include size_weight(36px, 800);

    text-transform: uppercase;
    line-height: 49px;
    color: $header-upBG;
    padding: 40px 0px;
  }

  // .categories__box

  &__box {
    @include display_grid(grid, 10.625rem 10.625rem / repeat(3, 1fr), 1.25rem);
    .asic {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .gpu {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .videocard {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    .accessories {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .pc {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .spare_parts {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }
}
.box {
  // .box__items
  &__items {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
    @include wh(100%, 170px);
    border-radius: 0.625rem;
    background-color: $header-downBG;

    .circle {
      @include wh(226px, 226px);
      background: $categories_gradient;
      border-radius: 50%;
      position: relative;
      flex: 0;
      bottom: 30px;
      right: 90px;
    }
    .blog {
      position: relative;
      bottom: 225px;
      left: 0;
      @include display_flex(flex, none, center, 20px);
      .blog__product {
        width: 50%;
      }
      .product {
        object-fit: cover;
        padding: 20px 0px 20px 35px;
      }
      .text {
        width: 50%;
        flex: 1 1 auto;
        p {
          @include wh(153px, 70px);
          @include size_weight(18px, 600);
          color: $tx-items;
          margin-top: 10px;
        }
        .btn__catalog {
          @include Btn_gradient_catalog;
          @include display_flex(flex, none, center, 0.625rem);
          // .after__arrow {
          //   @include Btn_arrow;
          // }
          // .after__arrow::after {
          //   content: "";
          //   @include Btn_arrow_rotate;
          // }
        }
        .btn__catalog::after {
          content: "";
          background: url("/img/Arrow purple.png") center no-repeat;
          padding: 30px 15px 30px 15px;
        }
      }
    }
  }
}

//advantage-----------------------------------

.advantage {
  z-index: 100;
  margin-top: 5rem;
  background: $advantage_gradient_bg;
  box-shadow: 0rem 0.25rem 1.25rem rgba(0, 7, 94, 0.1);
  border-radius: 0.625rem;

  // .advantage__container

  &__container {
    @include display_grid(grid, 1fr / 30rem 1fr, none);
    @include wh(100%, 23.375rem);
    overflow: hidden;
    background: -moz-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 48%,
        rgba(255, 255, 255, 0.086) 50%,
        rgba(255, 255, 255, 0) 52%
      ),
      -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 48%, rgba(
              255,
              255,
              255,
              0.1
            )
            50%, rgba(0, 0, 0, 0) 52%);
    background: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 48%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0) 52%
      ),
      -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2)
            50%, rgba(255, 255, 255, 0) 52%);
    background: -ms-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 48%,
        rgba(255, 255, 255, 0.098) 50%,
        rgba(255, 255, 255, 0) 52%
      ),
      -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0) 48%, rgba(
              255,
              255,
              255,
              0.107
            )
            50%, rgba(255, 255, 255, 0) 52%);
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 48%,
        rgba(255, 255, 255, 0.126) 50%,
        rgba(255, 255, 255, 0) 52%
      ),
      linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0) 48%,
        rgba(255, 255, 255, 0.101) 30%,
        rgba(255, 255, 255, 0) 52%
      );
    background-size: 1em 1em;
  }
}

// .advantage__container

.container {
  // .container__left

  &__left {
    .advantage__header {
      @include wh(21.3125rem, 6.125rem);
      h2 {
        @include size_weight(2.25rem, 800);
        line-height: 3.0625rem;
        text-transform: uppercase;
        color: $h2_color_wt;
        position: relative;
        z-index: 15;
      }
    }
    .advan__gpu {
      position: relative;
      bottom: 100px;
      z-index: 10;
    }
    .shadow_gpu {
      position: relative;
      bottom: 190px;
      left: 70px;
      z-index: 3;
    }
  }
  &__left,
  &__right {
    padding: 3.125rem;
  }
  // .container__right

  &__right {
    @include display_grid(grid, 104px 104px/ 1fr 1fr, 55px);
    .right__item {
      .img__circle {
        @include wh(60px, 60px);
        @include display_flex(flex, center, center, none);
        background: $circle_bg;
        box-shadow: 0px 4px 40px rgba(0, 6, 84, 0.9);
        border-radius: 50%;
      }
      p {
        @include size_weight(16px, 600);
        line-height: 22px;
        color: $p_color_ht;
      }
    }
    .left_top {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .center_top {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .right_top {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    .left_bottom {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .center_bottom {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .right_bottom {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }
}

//bestsellers-----------------------------------

.bestsellers {
  // .bestsellers__header

  &__header {
    h2 {
      @include size_weight(36px, 800);
      line-height: 49px;
      text-transform: uppercase;
      margin-top: 5rem;
      color: $tx-purple;
    }
  }

  // .bestsellers__container

  &__container {
    margin-top: 2.5rem;
    @include display_flex(flex, none, center, 1.25rem);
  }
}
.card {
  @include wh(220px, 360px);
  background: $card_bg;
  box-shadow: 0rem 0.25rem 1.25rem rgba(0, 7, 94, 0.1);
  border-radius: 0.625rem;
  flex: 1 1 auto;

  // .card__icon

  &__icon {
    padding: 0.9375rem 0.9375rem 0rem 0.9375rem;
    @include display_flex(flex, space-between, center, none);
    img {
      cursor: pointer;
    }
    .hits_bg {
    }
  }
  .product {
    @include display_flex(flex, center, center, none);
    img {
      @include wh(160px, 160px);
    }
  }
  .info {
    p {
      @include size_weight(0.875rem, 600);
      line-height: 1.1875rem;
      padding: 10px 0px 0px 20px;
    }
    .dot::before {
      content: "";
      display: inline-block;
      @include wh(6px, 6px);
      background-color: $dot_bg;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
    .dot_con {
      padding: 10px 0px 0px 20px;
      @include display_flex(flex, none, center, none);
      .dot {
        @include size_weight(0.75rem, 600);
        line-height: 1rem;
      }
    }
  }
  .sale {
    @include display_flex(flex, space-between, center, none);
    padding: 0rem 1.25rem 1.125rem 1.25rem;
    span {
      @include size_weight(0.875rem, 700);
      line-height: 1.1875rem;
      color: $price_text;
    }
    .sale_price {
      @include size_weight(0.625rem, 600);
      line-height: 0.875rem;
      color: $sale_price;
      text-decoration: line-through;
    }
    img {
      cursor: pointer;
    }
  }
  .btn {
    position: relative;
    bottom: 10px;
    @include display_flex(flex, center, center, none);
  }
  button {
    @include Btn_gradient;
    @include size_weight(0.8125rem, 700);
    line-height: 1.125rem;
  }
}
.dot__nav {
  @include display_flex(flex, center, center, 10px);
  margin-top: 1.875rem;
  .dot__item {
    @include wh(10px, 10px);
    background-color: $dot__items;
    border-radius: 50%;
  }
  .dot__active {
    background-color: $dot__active;
    @include wh(12px, 12px);
  }
}

//company-----------------------------------

.company {
  margin-top: 5rem;
  // .company__container

  &__container {
    @include display_flex(flex, none, none, 5rem);
    flex-direction: column;
  }
}
.rowtop {
  display: grid;
  grid-template: 3.5rem 10.3125rem / 1fr 29.75rem;
  column-gap: 4.6875rem;
  row-gap: 2.5rem;
  // .row__header

  &__header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    h2 {
      @include size_weight(36px, 800);
      line-height: 49px;
      text-transform: uppercase;
      color: $tx-purple;
    }
  }
  // .rowtop__text
  &__text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    p {
      @include size_weight(16px, 400);
      line-height: 145%;
      color: $rowtop_text;
      @include wh(625px, none);
    }
  }

  // .rowtop__logo
  &__logo {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    @include wh(100%, 100%);
    img {
      @include wh(100%, 100%);
    }
  }
}
.rowbottom {
  @include wh(inherit, 218px);
  @include display_flex(flex, none, none, none);
  // .rowbottom__item

  &__item {
    flex: 1 1 auto;
    .img-space {
      @include display_flex(flex, center, center, none);
      @include wh(80px, 80px);
      background-color: $shell_light;
      border-radius: 50%;

      .shell {
        @include display_flex(flex, center, center, none);
        @include wh(60px, 60px);
        background-color: $shell_gray;
        border-radius: 50%;
        .itm1,
        .itm3,
        .itm4 {
          @include wh(36px, 36px);
        }
        .itm2 {
          @include wh(38px, 38px);
        }
        .itm5 {
          @include wh(26.63px, 36px);
        }
        .itm6 {
          @include wh(36px, 24.57px);
        }
      }
    }
    .icon__text {
      margin-top: 15px;
      p {
        @include wh(123px, 69px);
        @include size_weight(16px, 400);
        line-height: 145%;
      }
    }
    .width {
      p {
        @include wh(8.375rem, 4.3125rem);
      }
    }
  }
}

//form-----------------------------------

.form {
  @include wh(100%, 330px);
  background: url("/img/form__bg.png") center / 100% 100% no-repeat;
  filter: drop-shadow(0px 4px 20px rgba(0, 7, 94, 0.1));
  border-radius: 10px;
  // .form__container

  &__container {
    padding: 50px 0px 50px 60px;
  }

  // .form__header

  &__header {
    h2 {
      @include wh(620px, 38px);
      @include size_weight(28px, 800);
      line-height: 38px;
      text-transform: uppercase;
      color: $tx-white;
    }
  }

  // .form__text

  &__text {
    margin-top: 10px;
    p {
      @include size_weight(18px, 600);
      line-height: 25px;
      color: $tx-white;
    }
  }

  // .form__input-group

  &__input-group {
    margin-top: 25px;
    input {
      @include wh(240px, 50px);
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(243, 243, 243, 0.7);
      border-radius: 50px;
      outline: none;
      margin-right: 20px;
    }
    input::placeholder {
      padding-left: 20px;
      @include size_weight(14px, 400);
      line-height: 135%;
      color: $tx-f3;
    }
    input:read-write {
      padding-left: 20px;
      @include size_weight(14px, 400);
      line-height: 135%;
      color: $tx-white;
    }
    :invalid {
      border: 1px solid #ff1414;
    }
    button {
      @include Btn_white_submit;
    }
  }

  // .form__checkbox

  &__checkbox {
    margin-top: 20px;
    @include display_flex(flex, none, none, 10px);
    label {
      @include size_weight(14px, 400);
      line-height: 19px;
      color: $tx-f3;
    }
    label::before {
      content: "";
      @include wh(14px, 14px);
      margin-right: 10px;
      display: inline-block;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #ffffff;
      border-radius: 2px;
    }
    input:checked ~ label::before {
      border: 1.5px solid #18154b;
      border-radius: 2px;
      background-color: $White_btn;
      background: url("/img/Checkbox.png");
    }
    .personal-data {
      text-decoration: underline;
    }
    input {
      position: absolute;
      opacity: 0;
    }
  }
}

//contacts-----------------------------------

.contacts {
  @include wh(100%, 370px);
  margin-top: 80px;
  // .contacts__container

  &__container {
    display: grid;
    grid-template: 365px / 500px 800px;
  }

  // .contacts__addres

  &__addres {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    .addres__header {
      h2 {
        @include size_weight(36px, 800);
        line-height: 49px;
        text-transform: uppercase;
        color: $tx-purple;
      }
    }
    .addres__contact {
      margin-top: 40px;
      @include display_flex(flex, none, none, 0.625rem);
      flex-direction: column;
      .siti {
        @include display_flex(flex, none, center, 0.625rem);
        p {
          @include size_weight(18px, 400);
          line-height: 145%;
          color: $tx-items;
        }
        img {
          @include wh_img(12.2px, 16.2px);
        }
      }
      .metro {
        @include display_flex(flex, none, center, 0.625rem);
        p {
          @include size_weight(18px, 400);
          line-height: 145%;
          color: $tx-items;
        }
        img {
          @include wh_img(16px, 11.56px);
        }
      }
      .mail {
        @include display_flex(flex, none, center, 0.625rem);
        p {
          @include size_weight(18px, 400);
          line-height: 145%;
          color: $tx-items;
        }
        img {
          @include wh_img(16px, 12px);
        }
      }
      .phone {
        @include display_flex(flex, none, center, 0.625rem);
        p {
          @include size_weight(18px, 400);
          line-height: 145%;
          color: $tx-items;
        }
        img {
          @include wh_img(15.14px, 14.82px);
        }
      }
      .clock {
        @include display_flex(flex, none, none, 0.625rem);
        p {
          @include size_weight(18px, 400);
          line-height: 145%;
          color: $tx-items;
          @include wh(233px, inherit);
        }
        img {
          @include wh_img(16px, 16px);
        }
      }
    }
  }

  // .contacts__maps

  &__maps {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    .nav__map {
      @include wh(100%, 100%);
      z-index: 2;
    }
    .marker {
      @include wh_img(22px, 32px);
      position: relative;
      left: 435px;
      top: 110px;
      z-index: 3;
    }
  }
}
