//IMG width height

@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

@mixin wh_img($width, $height) {
  width: $width;
  height: $height;
  object-fit: cover;
}

//Batton

@mixin Btn_gradient {
  color: $tx-white;
  width: 160px;
  height: 40px;
  background: linear-gradient(73.56deg, #0d748b -10.13%, #1a0b73 75.49%),
    #ffffff;
  border-radius: 50px;
  border: none;
}

@mixin Btn_White {
  color: $tx-white;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
}

@mixin Btn_gradient_catalog {
  background-color: $White_btn;
  line-height: 22px;
  color: $header-upBG;
  @include size_weight(1rem, 700);
}

@mixin Btn_white_submit {
  width: 240px;
  height: 50px;
  background-color: $tx-white;
  border-radius: 50px;
  color: $tx-purple;
  @include size_weight(15px, 700);
  line-height: 20px;
}

// @mixin Btn_arrow {
//   border: 0.0625rem solid $header-upBG;
//   background-color: $header-upBG;
//   height: 0rem;
//   width: 1.875rem;
// }

// @mixin Btn_arrow_rotate {
//   position: relative;
//   left: 1.25rem;
//   top: -0.2853rem;
//   display: block;
//   width: 0.4375rem;
//   height: 0.4375rem;
//   border-top: 0.125rem solid $header-upBG;
//   border-left: 0.125rem solid $header-upBG;
//   transform: rotate(135deg);
// }

//Display Flex
@mixin display_flex($display, $justify-content, $align-items, $gap) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}

//Display Grid
@mixin display_grid($display, $grid-template, $gap) {
  display: $display;
  grid-template: $grid-template;
  gap: $gap;
}

//Font-Family

@mixin size_weight($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}
