//IMG

@mixin wh($width, $height) {
  width: $width;
  height: $height;
  object-fit: cover;
}

//Batton

@mixin Btn_gradient {
  color: $tx-white;
  width: 160px;
  height: 40px;
  background: linear-gradient(73.56deg, #0d748b -10.13%, #1a0b73 75.49%),
    #ffffff;
  border-radius: 50px;
  border: none;
}

@mixin Btn_White {
  width: 200px;
  height: 50px;
}

//Display Flex

@mixin display_flex($display, $justify-content, $align-items, $gap) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  gap: $gap;
}
