@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: inherit;
}

ol,
ul,
li {
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: "Nunito Sans";
  font-style: normal;
}

.header__blue {
  background-color: #18154b;
}
.header__up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: none;
  height: 2.875rem;
}
.header__contacts {
  display: flex;
  align-items: none;
  justify-content: none;
  gap: 2.75rem;
}
.header__icon {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 1.125rem;
}
.header__icon img {
  width: 1.25rem;
  height: 1.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__items {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 0.625rem;
}
.contacts__items .img__mail {
  width: 1rem;
  height: 0.75rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts__items .img__phone {
  width: 0.94625rem;
  height: 0.92625rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts__items p {
  color: #f0f5fb;
  font-family: "Nunito Sans";
  font-style: normal;
}

.header__white {
  background-color: white;
}
.header__down {
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: none;
}
.header__menu {
  display: flex;
  align-items: none;
  justify-content: space-between;
  gap: none;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 2.5rem;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: rgb(48, 50, 57);
}
.menu__items {
  flex: 0;
}
.menu__items select {
  outline: inherit;
  border: inherit;
  color: rgb(48, 50, 57);
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  cursor: pointer;
}
.menu__items select:hover {
  transition: 0.2s;
  color: rgba(48, 50, 57, 0.7);
}
.menu__items button {
  color: white;
  width: 160px;
  height: 40px;
  background: linear-gradient(73.56deg, #0d748b -10.13%, #1a0b73 75.49%), #ffffff;
  border-radius: 50px;
  border: none;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.125rem;
}
.menu__items:hover {
  color: rgba(48, 50, 57, 0.7);
  transition: 0.2s;
}

.menu__icon {
  display: flex;
  align-items: none;
  justify-content: none;
  gap: 0.625rem;
}
.menu__icon .elements_1,
.menu__icon .elements_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: none;
  width: 1.125rem;
  height: 1.125rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  background-color: #18154b;
  color: white;
}
.menu__icon .elements_1 {
  position: relative;
  bottom: 0.7em;
  left: 13.5em;
}
.menu__icon .elements_2 {
  position: relative;
  bottom: 0.7em;
  left: 15.5em;
}
.menu__icon__search {
  flex: 0;
}
.menu__icon__search img {
  width: 2.5rem;
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__icon__favorites {
  flex: 0;
}
.menu__icon__favorites img {
  width: 2.5rem;
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__icon__basket {
  flex: 0;
}
.menu__icon__basket img {
  width: 2.5rem;
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  flex: 1 1 auto;
}
.main__billboard {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  width: 100%;
  height: 27.5rem;
}

.board__right {
  width: 48.75rem;
  height: 27.5rem;
  background: linear-gradient(73.56deg, #0d748b -10.13%, #1a0b73 75.49%), #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
  border-radius: 10px;
  z-index: 0;
}
.board__text {
  position: relative;
  z-index: 2;
}
.board__text .board__header {
  padding: 5rem 0rem 1.25rem 3.5625rem;
}
.board__text .board__header h2 {
  font-size: 2.25rem;
  font-weight: 800;
  width: 21.3125rem;
  height: 9.75rem;
  color: white;
  line-height: 3.25rem;
  text-transform: uppercase;
  z-index: 10;
  position: relative;
}
.board__text p {
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  z-index: 10;
  padding: 0px 0px 1.875rem 57px;
}
.board__text button {
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  margin: 0px 0px 79px 57px;
  z-index: 10;
}
.board__text button span {
  color: #18154b;
  width: 380px;
  height: 440px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.board__img {
  position: relative;
  z-index: 2;
}
.board__img img {
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 2.8125rem;
}
.board__dotted {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 10px;
  position: relative;
  top: 60px;
  left: 205px;
  color: black;
  z-index: 10;
}
.board__dotted p {
  width: 10px;
  height: 10px;
  background-color: rgba(56, 176, 193, 0.4);
  border-radius: 50%;
}
.board__dotted p:first-child {
  width: 12px;
  height: 12px;
  background-color: #38b0c1;
}
.board__dotted p:hover {
  width: 12px;
  height: 12px;
}
.board__left {
  flex: 1 1 auto;
}
.board__left img {
  width: 100%;
  height: 440px;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: none;
}

.board__bg {
  background: url("/img/bg_board_r.png") no-repeat;
  position: relative;
  bottom: 27.5em;
  left: 0;
  width: 37rem;
  height: 27.5rem;
  z-index: 0;
  opacity: 0.8;
}

.categories__header {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 49px;
  color: #18154b;
  padding: 40px 0px;
}
.categories__box {
  display: grid;
  grid-template: 10.625rem 10.625rem/23.75rem 23.75rem 23.75rem;
  gap: 1.25rem;
}
.categories__box .asic {
  grid-column: 1/2;
  grid-row: 1/2;
}
.categories__box .gpu {
  grid-column: 2/3;
  grid-row: 1/2;
}
.categories__box .videocard {
  grid-column: 3/4;
  grid-row: 1/2;
}
.categories__box .accessories {
  grid-column: 1/2;
  grid-row: 2/3;
}
.categories__box .pc {
  grid-column: 2/3;
  grid-row: 2/3;
}
.categories__box .spare_parts {
  grid-column: 3/4;
  grid-row: 2/3;
}

.box__items {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 380px;
  height: 170px;
  border-radius: 0.625rem;
  background-color: white;
}
.box__items .circle {
  width: 226px;
  height: 226px;
  background: linear-gradient(86.02deg, #0d748b 11.79%, #1a0b73 90.28%);
  border-radius: 50%;
  position: relative;
  flex: 0;
  bottom: 30px;
  right: 90px;
}
.box__items .blog {
  position: relative;
  bottom: 225px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 20px;
}
.box__items .blog img {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px 0px 20px 35px;
}
.box__items .blog .text p {
  width: 153px;
  height: 70px;
  font-size: 18px;
  font-weight: 600;
  color: #303239;
  position: relative;
  top: -10px;
  left: 0;
}
.box__items .blog .text .btn__catalog {
  position: relative;
  top: 1.125rem;
  right: 0px;
  background-color: white;
  line-height: 22px;
  color: #18154b;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 0.625rem;
}
.box__items .blog .text .btn__catalog .after__arrow {
  border: 0.0625rem solid #18154b;
  background-color: #18154b;
  height: 0rem;
  width: 1.875rem;
}
.box__items .blog .text .btn__catalog .after__arrow::after {
  content: "";
  position: relative;
  left: 1.25rem;
  top: -0.2853rem;
  display: block;
  width: 0.4375rem;
  height: 0.4375rem;
  border-top: 0.125rem solid #18154b;
  border-left: 0.125rem solid #18154b;
  transform: rotate(135deg);
}

.advantage {
  z-index: 100;
  margin-top: 5rem;
  background: radial-gradient(98.19% 130.91% at -8.58% -1.44%, #42e8e0 0%, #40ddda 1.57%, #3aaec0 9.21%, #3484a9 17.3%, #2f6195 25.73%, #2b4486 34.58%, #282e79 44%, #180564 82.26%);
  box-shadow: 0rem 0.25rem 1.25rem rgba(0, 7, 94, 0.1);
  border-radius: 0.625rem;
}
.advantage__container {
  display: grid;
  grid-template: 1fr/30rem 1fr;
  gap: none;
  width: 100%;
  height: 23.375rem;
  overflow: hidden;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0.126) 50%, rgba(255, 255, 255, 0) 52%), linear-gradient(-45deg, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0.101) 30%, rgba(255, 255, 255, 0) 52%);
  background-size: 1em 1em;
}

.container__left .advantage__header {
  width: 21.3125rem;
  height: 6.125rem;
}
.container__left .advantage__header h2 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 3.0625rem;
  text-transform: uppercase;
  color: white;
}
.container__left img {
  position: relative;
  bottom: 200px;
}
.container__left, .container__right {
  padding: 3.125rem;
}
.container__right {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  gap: 55px;
}
.container__right .right__item .img__circle {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: none;
  background: #25307b;
  box-shadow: 0px 4px 40px rgba(0, 6, 84, 0.9);
  border-radius: 50%;
}
.container__right .right__item p {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: white;
}
.container__right .left_top {
  grid-column: 1/2;
  grid-row: 1/2;
}
.container__right .center_top {
  grid-column: 2/3;
  grid-row: 1/2;
}
.container__right .right_top {
  grid-column: 3/4;
  grid-row: 1/2;
}
.container__right .left_bottom {
  grid-column: 1/2;
  grid-row: 2/3;
}
.container__right .center_bottom {
  grid-column: 2/3;
  grid-row: 2/3;
}
.container__right .right_bottom {
  grid-column: 3/4;
  grid-row: 2/3;
}

.bestsellers__header h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 49px;
  text-transform: uppercase;
  margin-top: 5rem;
  color: #18154b;
}
.bestsellers__container {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 1.25rem;
}

.card {
  width: 220px;
  height: 360px;
  background: white;
  box-shadow: 0rem 0.25rem 1.25rem rgba(0, 7, 94, 0.1);
  border-radius: 0.625rem;
  flex: 1 1 auto;
}
.card__icon {
  padding: 0.9375rem 0.9375rem 0rem 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: none;
}
.card .product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: none;
}
.card .product img {
  width: 160px;
  height: 160px;
}
.card .info p {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.1875rem;
  padding: 10px 0px 0px 20px;
}
.card .info .dot::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #38b0c1;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.card .info .dot_con {
  padding: 10px 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: none;
  gap: none;
}
.card .info .dot_con .dot {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
}
.card .sale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: none;
  padding: 0rem 1.25rem 1.125rem 1.25rem;
}
.card .sale span {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.1875rem;
  color: #303239;
}
.card .sale .sale_price {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 0.875rem;
  color: #9b9b9b;
  text-decoration: line-through;
}
.card .btn {
  position: relative;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: none;
}
.card button {
  color: white;
  width: 160px;
  height: 40px;
  background: linear-gradient(73.56deg, #0d748b -10.13%, #1a0b73 75.49%), #ffffff;
  border-radius: 50px;
  border: none;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.125rem;
}

.dot__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 1.875rem;
}
.dot__nav .dot__item {
  width: 10px;
  height: 10px;
  background-color: rgba(56, 176, 193, 0.4);
  border-radius: 50%;
}
.dot__nav .dot__active {
  background-color: #38b0c1;
  width: 12px;
  height: 12px;
}

.company {
  margin-top: 5rem;
}
.company__container {
  display: flex;
  align-items: none;
  justify-content: none;
  gap: 5rem;
  flex-direction: column;
}

.rowtop {
  display: grid;
  grid-template: 3.125rem 10.3125rem/1fr 28.75rem;
  -moz-column-gap: 4.6875rem;
       column-gap: 4.6875rem;
  row-gap: 2.5rem;
}
.rowtop__header {
  grid-column: 1/2;
  grid-row: 1/2;
}
.rowtop__header h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 49px;
  text-transform: uppercase;
  color: #18154b;
}
.rowtop__text {
  grid-column: 1/2;
  grid-row: 2/3;
}
.rowtop__text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 145%;
  color: #303239;
  width: 625px;
  height: none;
}
.rowtop__logo {
  grid-column: 2/3;
  grid-row: 1/-1;
}
.rowtop__logo img {
  width: 460px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.rowbottom {
  width: inherit;
  height: 218px;
  display: flex;
  align-items: none;
  justify-content: none;
  gap: none;
}
.rowbottom__item {
  flex: 1 1 auto;
}
.rowbottom__item .img-space {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: none;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
}
.rowbottom__item .img-space .shell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: none;
  width: 60px;
  height: 60px;
  background-color: #f0f5fb;
  border-radius: 50%;
}
.rowbottom__item .img-space .shell .itm1,
.rowbottom__item .img-space .shell .itm3,
.rowbottom__item .img-space .shell .itm4 {
  width: 36px;
  height: 36px;
}
.rowbottom__item .img-space .shell .itm2 {
  width: 38px;
  height: 38px;
}
.rowbottom__item .img-space .shell .itm5 {
  width: 26.63px;
  height: 36px;
}
.rowbottom__item .img-space .shell .itm6 {
  width: 36px;
  height: 24.57px;
}
.rowbottom__item .icon__text {
  margin-top: 15px;
}
.rowbottom__item .icon__text p {
  width: 123px;
  height: 69px;
  font-size: 16px;
  font-weight: 400;
  line-height: 145%;
}
.rowbottom__item .width p {
  width: 8.375rem;
  height: 4.3125rem;
}

.form {
  width: 100%;
  height: 330px;
  background: url("/img/form__bg.png") center/100% 100% no-repeat;
  filter: drop-shadow(0px 4px 20px rgba(0, 7, 94, 0.1));
  border-radius: 10px;
}
.form__container {
  padding: 50px 0px 50px 60px;
}
.form__header h2 {
  width: 620px;
  height: 38px;
  font-size: 28px;
  font-weight: 800;
  line-height: 38px;
  text-transform: uppercase;
  color: white;
}
.form__text {
  margin-top: 10px;
}
.form__text p {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: white;
}
.form__input-group {
  margin-top: 25px;
}
.form__input-group input {
  width: 240px;
  height: 50px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(243, 243, 243, 0.7);
  border-radius: 50px;
  outline: none;
  margin-right: 20px;
}
.form__input-group input::-moz-placeholder {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
  color: #f3f3f3;
}
.form__input-group input:-ms-input-placeholder {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
  color: #f3f3f3;
}
.form__input-group input::placeholder {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
  color: #f3f3f3;
}
.form__input-group button {
  width: 240px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  color: #18154b;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.form__checkbox {
  margin-top: 20px;
  display: flex;
  align-items: none;
  justify-content: none;
  gap: 10px;
}
.form__checkbox label {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #f3f3f3;
}
.form__checkbox .personal-data {
  text-decoration: underline;
}

.contacts {
  width: 100%;
  height: 370px;
  margin-top: 80px;
}
.contacts__container {
  display: grid;
  grid-template: 1fr/500px 800px;
}
.contacts__addres {
  grid-column: 1/2;
  grid-row: 1/2;
}
.contacts__addres .addres__header h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 49px;
  text-transform: uppercase;
  color: #18154b;
}
.contacts__addres .addres__contact {
  margin-top: 40px;
  display: flex;
  align-items: none;
  justify-content: none;
  gap: 0.625rem;
  flex-direction: column;
}
.contacts__addres .addres__contact .siti {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 0.625rem;
}
.contacts__addres .addres__contact .siti p {
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  color: #303239;
}
.contacts__addres .addres__contact .siti img {
  width: 12.2px;
  height: 16.2px;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts__addres .addres__contact .metro {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 0.625rem;
}
.contacts__addres .addres__contact .metro p {
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  color: #303239;
}
.contacts__addres .addres__contact .metro img {
  width: 16px;
  height: 11.56px;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts__addres .addres__contact .mail {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 0.625rem;
}
.contacts__addres .addres__contact .mail p {
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  color: #303239;
}
.contacts__addres .addres__contact .mail img {
  width: 16px;
  height: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts__addres .addres__contact .phone {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 0.625rem;
}
.contacts__addres .addres__contact .phone p {
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  color: #303239;
}
.contacts__addres .addres__contact .phone img {
  width: 15.14px;
  height: 14.82px;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts__addres .addres__contact .clock {
  display: flex;
  align-items: none;
  justify-content: none;
  gap: 0.625rem;
}
.contacts__addres .addres__contact .clock p {
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  color: #303239;
  width: 233px;
  height: inherit;
}
.contacts__addres .addres__contact .clock img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts__maps {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
}
.contacts__maps .nav__map {
  position: relative;
  left: 15px;
  bottom: 50px;
  width: 100%;
  height: 365px;
  z-index: 2;
}
.contacts__maps .marker {
  width: 22px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  left: 430px;
  top: 100px;
  z-index: 3;
}

.footer {
  margin-top: 80px;
  width: inherit;
  height: 336px;
  background-color: #18154b;
}
.footer__content {
  padding: 60px 0px;
  display: grid;
  grid-template: 50px 50px 1fr/repeat(auto-fit, 345px);
}
.footer__title {
  grid-row: 1/2;
  grid-column: 1/2;
}
.footer__title h3 {
  font-size: 22px;
  font-weight: 800;
  line-height: 30px;
  text-transform: uppercase;
  color: white;
}
.footer__c {
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #b8b8b8;
}
.footer__customer {
  grid-row: 1/-1;
  grid-column: 2/3;
}
.footer__customer .customer_head h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #b8b8b8;
}
.footer__customer .customer_body {
  margin-top: 20px;
  display: flex;
  align-items: none;
  justify-content: none;
  gap: 8px;
  flex-direction: column;
}
.footer__customer .customer_body a {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}
.footer__catalogg {
  grid-row: 1/-1;
  grid-column: 3/4;
}
.footer__catalogg .catalog_head h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #b8b8b8;
}
.footer__catalogg .catalog_body {
  margin-top: 20px;
  display: flex;
  align-items: none;
  justify-content: none;
  gap: 8px;
  flex-direction: column;
}
.footer__catalogg .catalog_body a {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}
.footer__Feedback {
  grid-row: 1/2;
  grid-column: 4/5;
  text-align: right;
}
.footer__Feedback button {
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
}
.footer__Feedback button span {
  color: #18154b;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.footer__privacy-policy {
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: none;
  grid-row: 3/4;
  grid-column: 4/5;
  line-height: 20px;
  color: #b8b8b8;
}
.footer__privacy-policy span {
  text-align: right;
}
.footer__privacy-policy span a {
  display: inline-block;
}
.footer__privacy-policy span a:hover {
  transition: 0.2s;
  color: white;
}

.gradient__btn:link {
  transition: 0.2s;
  background: linear-gradient(73.56deg, #0d748b -10.13%, #1a0b73 75.49%), #ffffff;
}

.gradient__btn:visited {
  transition: 0.2s;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(73.56deg, #0d748b -10.13%, #1a0b73 75.49%);
}

.gradient__btn:hover {
  transition: 0.2s;
  background: linear-gradient(73.56deg, #0d748b -10.13%, #1a0b73 75.49%), #ffffff;
  box-shadow: 0px 4px 20px rgba(26, 11, 115, 0.4);
}

.gradient__btn:active {
  transition: 0.2s;
  background: linear-gradient(0deg, rgba(24, 21, 75, 0.6), rgba(24, 21, 75, 0.6)), linear-gradient(73.56deg, #0d748b -10.13%, #1a0b73 75.49%);
}

.white__btn:link {
  transition: 0.2s;
  background: white;
}

.white__btn:visited {
  transition: 0.2s;
  background: rgba(255, 255, 255, 0.6);
}

.white__btn:hover {
  transition: 0.2s;
  background: white;
  box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.4);
}

.white__btn:active {
  transition: 0.2s;
  background: linear-gradient(0deg, rgba(24, 21, 75, 0.15), rgba(24, 21, 75, 0.15)), #ffffff;
}/*# sourceMappingURL=me.css.map */